<header>
    <div class="container">
        <a routerLink="/" class="logo">FoodMine!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Login</a>
                    
                </li>
                <li class="menu-container">
                    <a routerLink="/">Jonh</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Order</a>
                        <a >Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/">Cart <span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>

</header>
